.h-container{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
   
}
.b-write a{
    color:white;
    text-decoration-line:none ;
}
nav ul{
    list-style-type: none;
}
ul{
    display: flex;
    flex-direction: row;
}
nav ul a{
    color:white;
    text-decoration-line:none ;
    padding: 1em;
}

.container{
    padding: 0em;
    margin:0em;
}
.b-write{
    padding-left:1em;
}
